* {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* body {
    background-color: #E0BE00;
} */

main {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1>span {
    font-weight: 900;
}

span>span {
    font-weight: 900;
    color: #F7CF0C;
}